.container{
    display: flex;
    /* padding: 2rem; */
    /* background-color: #ff9933; */
    max-width: 100%;
    height: 100vh;
    justify-content: space-between;

}
.loginBtns{
    display: flex;
    justify-content: flex-start;
    padding: 8px;
    margin-left: 5rem;
}
h1{
    width: 80%;
   /* padding: 2rem; */
   margin-left: 5rem;
   font-size: 4rem;
}
.displayImg,.ImgPart{
    background-color:#ff9933;
    /* margin-top: 2rem; */

}
.textPart{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem
    
}
/* .ImgPart{
    background-color: rgb(236, 135, 11);
} */