/* DateTimeDisp.module.css */
.dateTimeDisplay {
    display: flex;
    align-items: center; /* Align items vertically in the center */
    justify-content: flex-start; /* Align content to the left */
    margin-right: 20px; /* Add right margin to separate DateTimeDisplay from text */
  }
  
  .DayBox {
    background-color: #ff9933;
    color: white;
    width: 100px;
    border-radius: 8px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .DateBox,
  .TimeBox {
    color: white;
    width: 100px;
    border-radius: 8px;
    margin-bottom: 5px; /* Add margin between Date and Time */
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 50px; /* Set the height of Date and Time boxes */
  }
  
  .DateBox {
    background-color: #a1025a;
    margin-bottom: .5rem;
    display: flex;
    align-items: center;
  }
  
  .TimeBox {
    background-color: #1a5aa5;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .floatRight{
    margin-left: .5rem;
  }